[Unit]
Description=Github Webhook Server
After=home.mount network.target

[Service]
User=
Group=
ExecStart=/usr/bin/php -S 0.0.0.0:1701 -t /opt/webhook
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
